:root{
    --background-colour: #E1D5C9;
    --project-background-colour: #B86975;
    --text-background-colour: #ffffff;
    --text-font-colour: #333333;

    --headings-font: "Shippori Mincho", sans-serif;
    --dash-text-font: "Ubuntu", sans-serif;
    --general-text-font: "Rubik", sans-serif;
    --nav-font: "Lexend", sans-serif;

    --fw-xlight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

html{
    font-size: 10px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--text-font-colour);
}

/* ------------- NAV & HERO ------------ */

.hero__wrapper{
    min-width: 360px;
    width: 100vw;
    height: 800px;
    background: var(--background-colour);
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
}

.nav__links{
    display: flex;
}

.nav__title{
    font-family: var(--headings-font);
    font-size: 4rem;
    font-weight: var(--fw-bold);
    line-height: 100.9%;
    text-indent: -10px;
    margin: 23px 23px 0 0;
}

.hero-text__wrapper{
    position: relative;
    z-index: 1;
    width: 297px;
    height: 387px;
    background: var(--text-background-colour);
    margin-inline: auto;
    margin-top: 41px;
}

.hero-text__wrapper > * {
    margin: 16px 0 0 8px;
}

.dash{
    width: 48px;
    height: 1px;
    background: var(--text-font-colour);
    margin-top: 13px;
}

.hero-text__hello__container{
    display: flex;
    width: 100vw;
    height: 40px;
    padding-top: 16px;
}

.hero-text__hello{
    font-family: var(--dash-text-font);
    font-size: 2.4rem;
    font-weight: var(--fw-bold);
    padding-left: 12px;
}

.hero-text__title{
    font-family: var(--general-text-font);
    font-size: 4.6rem;
    font-weight: var(--fw-regular);
}

.hero-text__headline{
    font-family: var(--general-text-font);
    font-size: 2.9rem;
    font-weight: var(--fw-regular);
}

.img-bradley__mobile{
    display: block;
    margin-top: -30px;
    margin-inline: auto;
}

/* PROJECTS */

.projects-title{
    font-family: var(--headings-font);
    font-size: 3.4rem;
    font-weight: var(--fw-bold);
    text-align: center;
    margin-top: 28px;
}

.project__img__container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--project-background-colour);
    width: 300px;
    height: 300px;
    margin-inline: auto;
    margin-top: 53px;
}

.project__text__container{
    width: 280px;
    height: 381px;
    background: var(--background-colour);
    margin-inline: auto;
    margin-top: -20px;
}

.project__title{
    font-family: var(--headings-font);
    font-size: 2.4rem;
    font-weight: var(--fw-bold);
    padding-top: 36px;
    text-align: center;
}

.project__skills__container{
    display: flex;
    width: 256px;
    height: 21px;
    margin-inline: auto;
    margin-top: 20px;
}

.project__skills__container > .dash{
    margin-top: 11px;
}

.project__skills{
    font-family: var(--dash-text-font);
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    margin-left: 18px;
}

.project__description{
    font-family: var(--general-text-font);
    font-size: 2.2rem;
    font-weight: var(--fw-light);
    margin: 20px 0 0 10px;
}

/* --------- ABOUT ----------- */

