:root{
    --background-colour: #E1D5C9;
    --project-background-colour: #B86975;
    --text-background-colour: #ffffff;
    --text-font-colour: #333333;

    --headings-font: "Shippori Mincho", sans-serif;
    --dash-text-font: "Ubuntu", sans-serif;
    --general-text-font: "Rubik", sans-serif;
    --nav-font: "Lexend", sans-serif;

    --fw-xlight: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

html{
    font-size: 10px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--text-font-colour);
}

/* ---------- GLOBAL ----------- */

.section-title{
    font-family: var(--headings-font);
    font-size: 3.4rem;
    font-weight: var(--fw-bold);
    text-align: center;
    margin-top: 28px;
}

.dash{
    width: 48px;
    height: 1px;
    background: var(--text-font-colour);
    margin-top: 13px;
}

@media screen and (min-width: 600px){
    .section-title{
        font-size: 4.8rem;
    }

    .dash{
        margin-top: 18px;
    }
}

@media screen and (min-width: 920px){
    .section-title{
        margin-top: 72px;
    }
}

/* ------------- NAV ------------ */

.hero__wrapper{
    min-width: 360px;
    width: 100vw;
    height: 800px;
    background: var(--background-colour);
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
}

.nav__links{
    display: flex;
}

.nav__title{
    font-family: var(--headings-font);
    font-size: 4rem;
    font-weight: var(--fw-bold);
    line-height: 100.9%;
    text-indent: -10px;
    margin: 23px 23px 0 0;
}

@media screen and (min-width: 600px){
    .hero__wrapper{
        height: 1194px;
    }

    .nav__title{
        font-size: 4.8rem;
        margin-inline: auto;
        margin-top: 38px;
    }
}

@media screen and (min-width: 920px){
    .hero__wrapper{
        height: 940px;
    }

    .nav__wrapper{
        width: 866px;
        height: 141px;
        margin-inline: auto;
        padding-top: 45px;
        align-items: center;
    }

    .nav__title{
        margin: 0;
    }

    .nav__links__link{
        font-family: 'Lexend';
        font-size: 2.4rem;
        font-weight: var(--fw-xlight);
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .nav__links__separator{
        font-size: 2.4rem;
        opacity: 30%;
    }

    .nav__links{
        gap: 11px;
    }
}

/* ---------- HERO --------------- */

.hero-text__wrapper{
    position: relative;
    z-index: 1;
    width: 297px;
    height: 387px;
    background: var(--text-background-colour);
    margin-inline: auto;
    margin-top: 41px;
}

.hero-text__wrapper > * {
    margin: 16px 0 0 8px;
}

.hero-text__hello__container{
    display: flex;
    width: 147px;
    height: 50px;
    padding-top: 16px;
}

.hero-text__hello{
    font-family: var(--dash-text-font);
    font-size: 2.4rem;
    font-weight: var(--fw-bold);
    padding-left: 12px;
    height: 40px;
}

.hero-text__title{
    font-family: var(--general-text-font);
    font-size: 4.6rem;
    font-weight: var(--fw-regular);
    margin-top: 13px;
}

.hero-text__headline{
    font-family: var(--general-text-font);
    font-size: 2.9rem;
    font-weight: var(--fw-regular);
}

.img-bradley{
    display: block;
    height: 274px;
    width: 205px;
    margin-top: -30px;
    margin-inline: auto;
}

@media screen and (min-width: 600px){
    .hero-text__wrapper{
        width: 462px;
        height: 386px;
        margin-top: 76px;
    }

    .hero-text__wrapper > * {
        margin: 16px 0 0 13px;
    }

    .hero-text__hello__container{
        height: 56px;
    }

    .dash{
        height: 2px;
    }

    .hero-text__hello{
        font-size: 3.4rem;
    }

    .hero-text__title{
        font-size: 7.4rem;
    }

    .hero-text__headline{
        font-size: 4rem;
    }

    .img-bradley{
        width: 411px;
        height: 548px;
    }
}

@media screen and (min-width: 920px){
    .hero-content__wrapper{
        display: flex;
        flex-direction: row-reverse;
        width: 866px;
        height: 536px;
        margin-inline: auto;
        margin-top: 88px;
    }

    .hero-text__wrapper{
        position: relative;
        z-index: 1;
        margin-left: -20px;
    }

    .hero-text__hello__container{
        margin-top: 0;
    }

    .img-bradley{
        margin-top: 1px;
    }
}

/* PROJECTS */

.project__img__container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--project-background-colour);
    width: 300px;
    height: 300px;
    margin-inline: auto;
    margin-top: 53px;
}

.project-one__img, .project-two__img{
    width: 288px;
    height: 288px;
}

.project__text__container{
    width: 280px;
    height: 381px;
    background: var(--background-colour);
    margin-inline: auto;
    margin-top: -20px;
}

.project__title{
    font-family: var(--headings-font);
    font-size: 2.4rem;
    font-weight: var(--fw-bold);
    padding-top: 36px;
    text-align: center;
}

.project__skills__container{
    display: flex;
    width: 256px;
    height: 21px;
    margin-inline: auto;
    margin-top: 20px;
}

.project__skills__container > .dash{
    margin-top: 11px;
}

.project__skills{
    font-family: var(--dash-text-font);
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
    margin-left: 18px;
}

.project__description{
    font-family: var(--general-text-font);
    font-size: 2.2rem;
    font-weight: var(--fw-light);
    margin: 20px 0 0 10px;
}

@media screen and (min-width: 600px){
    .project__img__container{
        width: 500px;
        height: 500px;
    }

    .project-one__img, .project-two__img{
        height: 480px;
        width: 480px;
    }

    .project__text__container{
        width: 580px;
        height: 545px;
        margin-top: -62px;
    }

    .project__text__wrapper{
        width: 445px;
        height: 100%;
        margin-inline: auto;
    }

    .project__text__wrapper > * {
        text-align: left;
    }

    .project__title{
        font-size: 4rem;
        padding-top: 87px;
    }

    .project__skills__container{
        margin-top: 35px;
        width: 390px;
        height: 34px;
    }

    .project__skills__container > .dash{
        height: 2px;
        margin-top: 18px;
    }

    .project__skills{
        font-size: 3rem;
    }

    .project__description{
        font-size: 3.2rem;
        margin: 35px 0 0 0;
    }
}

@media screen and (min-width: 920px){
    .project-one__wrapper, .project-two__wrapper{
        display: flex;
        width: 866px;
        height: 545px;
        margin-inline: auto;
        margin-bottom: 180px;
        background: var(--background-colour);
    }

    .project-one__wrapper{
        margin-top: 180px;
        flex-direction: row-reverse;
    }

    .project__img__container{
        margin-top: -60px;
    }

    .project__text__container{
        width: 364px;
        margin-top: 0;
        background: none;
    }

    .project__text__wrapper{
        width: 320px;
        height: 545px;
    }

    .project__text__wrapper > *{
        inline-size: 320px;
    }

    .project__title{
        letter-spacing: 1px;
        padding-top: 30px;
    }

    .project__skills__container{
        margin: 35px 0;
        height: fit-content;
    }

    .project__description{
        font-size: 2.8rem;
        margin: 0;
    }
    
}

/* --------- ABOUT ----------- */

.about__wrapper{
    margin-top: 81px;
    min-width: 360px;
    width: 100vw;
    height: 800px;
    background: var(--background-colour);
    border: 1px solid var(--background-colour);
}

.about__container{
    width: 301px;
    height: 629px;
    background: white;
    margin-inline: auto;
    margin-top: 49px;
    border: 1px solid white;
}

.about__headline__container{
    display: flex;
    width: 100%;
    height: 21px;
    margin-top: 28px;
    margin-inline: auto;
}

.about__headline__container > .dash{
    margin-left: 11px;
}

.about__headline{
    font-family: var(--dash-text-font);
    font-size: 2.2rem;
    font-weight: var(--fw-bold);
    margin-left: 12px;
}

.about__text{
    font-family: var(--general-text-font);
    font-size: 1.8rem;
    font-weight: var(--fw-light);
    margin: 28px 12px 0 10px;
}

.about__email__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.about__email{
    font-family: var(--general-text-font);
    font-size: 1.6rem;
    font-weight: var(--fw-light);
    margin-left: 17px;
}

.about__socials__container{
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 35px;
}

.about__socials__icon{
    width: 35px;
    height: 35px;
}

@media screen and (min-width: 600px){
    .about__wrapper{
        height: 1194px;
    }

    .about__container{
        width: 580px;
        height: 899px;
    }

    .about__headline__container{
        margin-top: 74px;
        margin-left: 22px;
    }

    .about__headline{
        font-size: 3.2rem;
    }

    .about__text{
        font-size: 3rem;
        margin: 70px 28px 0 22px;
    }

    .about__email{
        font-size: 3rem;
        margin-left: 23px;
    }

    .about__socials__container{
        gap: 40px;
    }

    .about__socials__icon{
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 920px){
    .about__wrapper{
        height: 1213px;
    }

    .about__container{
        width: 866px;
        height: 700px;
        margin-top: 120px;
    }

    .about__text{
        font-size: 2.8rem;
    }

    .about__contacts__container{
        display: flex;
        margin-top: 20px;
        margin-left: 22px;
        gap: 120px;
    }
}